body{
	background-color:#99ccff;
}
h1{
	font-size:30px;
}
.corpo{
	width:1300px;
	height:800px;
	box-shadow: 10px 10px 5px #888888;
	background-color:white;
	margin-bottom:30px
}
.bc{
	float:left;
	width:150px;
	height:200px;
	box-shadow: 5px 5px 5px #888888;
	background-color:#FFFFFF;
	margin-left:10px;
	margin-top:10px;
}
#c1{
	float: left;
	padding-left:40px;
}
#mensagemcampo{
	resize: none;
	width: 300px;
	height: 150px;
}